#scrollButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: $cream;
    color: black;
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid black;
}

#scrollButton:after {
  content: "\25B2";
  font-size: 25px;
}

#scrollButton:hover {
    background-color: black;
    color: $cream;
    -o-transition:.9s;
    -ms-transition:.9s;
    -moz-transition:.9s;
    -webkit-transition:.9s;
    transition:.9s;
}

// social media buttons //

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    opacity: 1;
}

.fa:hover {
    opacity: .4;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background-image: linear-gradient(to top, #4b5ed6, #db2c77, #f7772b);
    color: white;
}

.fa-github {
    background: #24292e;
    color: #28a946;
}

.fa-linkedin {
    background: #0077b5;
    color: white;
}
